---
# -----------------------------------------------------------------------------------------------------------
# physical properties
# -----------------------------------------------------------------------------------------------------------
mass : 1.0 # kg
area : 0.01 # face area m^2
inertia : [0.00149, 0.0, 0.00014,
          0.0, 0.00147, 0.0,
          0.00014,   0.0, 0.00154]
# [0.001796, 0.0, 0.000716, 
#                0.0, 0.002081, 0.0,
#           0.000716, 0.0, 0.002232]
# 
Cd : 2.2 # Drag coefficient
CR : 1.8 # Reflectivity coefficient

# -----------------------------------------------------------------------------------------------------------
# Reaction Wheels
# -----------------------------------------------------------------------------------------------------------
N_rw : 1                   # number of reaction wheels
rw_orientation : [0,0,1] # spin axis of each reaction wheel in the body frame
I_rw : 3.3878e-06 # 6.5e-7 # kg.m^2 inertia of each reaction wheel
m_rw: 0.002                # kg mass of each reaction wheel
max_torque : 0.001         # N.m maximum torque that can be applied by each reaction wheel
max_speed : 600            # rad/s maximum speed that can be achieved by each reaction wheel
nom_rw_ang_vel: 30        # rad/s nominal angular velocity of the reaction wheels

# -----------------------------------------------------------------------------------------------------------
# Magnetorquers
# -----------------------------------------------------------------------------------------------------------
N_mtb : 6                                     # number of magnetorquers
mtb_orientation : [1,0,0, 
                   0,1,0, 
                   0,0,1, 
                   1,0,0, 
                   0,1,0, 
                   0,0,1] # alignment axis of each magnetorquer in the body frame
max_voltage : [5,5,5,5,5,5]  # V maximum voltage that can be applied by each magnetorquer
coils_per_layer : [32.0,32.0,32.0,32.0,32.0,32.0]  # number of coils per layer
layers : [2.0,2.0,2.0,2.0,2.0,2.0]                 # number of layers
trace_width : [0.0007317, 0.0007317, 0.0007317, 0.0007317, 0.0007317, 0.0007317]  # m
gap_width : [0.00008999, 0.00008999, 0.00008999, 0.00008999, 0.00008999, 0.00008999]  # m
trace_thickness : [0.00003556, 0.00003556, 0.00003556, 0.00003556, 0.00003556, 0.00003556]  # 1oz copper - 35um = 1.4 mils
pcb_side_max: [0.1,0.1,0.1,0.1,0.1,0.1] # m
max_current_rating : [1.0,1.0,1.0,1.0,1.0,1.0]  # A
max_power : [1,1,1,1,1,1]  # W

# -----------------------------------------------------------------------------------------------------------
# Payload
# -----------------------------------------------------------------------------------------------------------
nadir_cam_dir: [-1,0, 0] # direction of payload camera(s) in the body frame

# -----------------------------------------------------------------------------------------------------------
# Sensors
# -----------------------------------------------------------------------------------------------------------
gps_pos_std : 10 # [UNITS: m]
gps_vel_std : 1 # [UNITS: m/s]

num_photodiodes : 6
photodiode_normals : [1,0,0, 
                       0,1,0, 
                       0,0,1, 
                      -1,0,0, 
                       0,-1,0, 
                       0,0,-1] # Light diode normals in body frame
photodiode_std : 1000 # [UNITS: lux]

magnetometer_noise_std : 0.005 # [UNITS: T]

gyro_sigma_w : 2.66e-05 # Bias dynamics [UNITS: rad/s^2/√Hz]
gyro_sigma_v : 1.87e-04 # Additive white noise [UNITS: rad/s/√Hz]
gyro_correlation_time : 500000.0 # [UNITS: s]
gyro_scale_factor_err : 1.0e-5

# -----------------------------------------------------------------------------------------------------------
# Sim settings
# -----------------------------------------------------------------------------------------------------------
MAX_TIME: 10000 # [s]
dt: 0.01         # [s]
earliest_sim_start_time_UTC: 2025-10-01 12:00:00
latest_sim_start_time_UTC: 2025-10-28 23:59:59
useDrag : False
useSRP : False

# -----------------------------------------------------------------------------------------------------------
# Initialization
# -----------------------------------------------------------------------------------------------------------
semimajor_axis : 6908000 # [m]
eccentricity : 0.007 
inclination : 97.75 # [deg]
RAAN : 171 # [deg]
AOP : 63 # [deg]
true_anomaly : 45 # [deg]
initial_attitude : [1,0,0,0] 
initial_angular_rate : [0.04,0.04,0.04] # [rad/s]

algorithm: "BaseSP" # "Lyapunov" # "BaseNP" # "Bcross" # # "BCROSS" or "PID" or "BaseSP"
bcrossgain: 0.028

mtb_att_feedback_gains: [[1.0, 0.0, 0.0, 1.4, 0.0, 0.0],
                        [0.0, 1.0, 0.0, 0.0, 1.4, 0.0],
                        [0.0, 0.0, 1.0, 0.0, 0.0, 1.4]]
rw_att_feedback_gains: [0.07071, 0.00028]
rw_vel_gain: 3.3878e-06 # 6.5e-7
pointing_mode: "spin-stabilized" # "detumble" # "detumble" or "spin-stabilized" or "3D-stabilized"
pointing_target: "Nadir" # "Nadir" or "Sun"
tgt_ss_ang_vel: 2.0 # [deg/s]
controller_dt: 0.10 # [s]
estimator_dt: 1    # [s]
debugFlags:
  bypass_controller: False # Open-loop
  bypass_estimator: True  # Perfect state knowledge